.d_model_bg {
    background-color: #6A8F97;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    border-radius: 5px;
}

.d_model_text {
    font-family: "微软雅黑";
    font-size: 12px;
    margin-top: 5px;
    margin-left: 7px;
    margin-bottom: 7px;
    width: 150px;
    height: 12px;
}

.d_model_content {
    background-color: white;
    width: 98%;
    height: 95%;
    border: 1px solid black;
    margin: 0 auto;
}

.d_one {
    width: 100%;
    height: 10%;
}

.d_two {
    overflow: auto;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    width: 99%;
    height: 88%;
}

.d_two > table {
    font-size: 14px;
    border-collapse: collapse;
}

.d_two > table td {
    padding: 3px 5px;
}

.d_two > table > tbody>tr:hover {
    background: #ccdddd;
}

.d_two > table > thead td {
    text-align: center;
    line-height: 30px;
}

.d_three {
    width: 100%;
    height: 10%;
}
}