html,
body {
	height: 100%;
}

body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	min-width: 1130px;
	min-height: 600px;
	-webkit-user-select: none;
	overflow: auto;
	position: relative;
	text-align: center;
}

.welcome{
	position:absolute;
	top:5px;
	left:150px;
 width:80px;
 height:70px;
}

/* button,input[type="button"] {
	background:#00f !important;
	color:#fff !important;
	border:1px solid #00f !important;
}
button:disabled,input[type="button"]:disabled{
	background:#ddd !important;
	border:1px solid #aaa !important;
} */
ul,
li,
ol,
dl,
dd,
dt {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input,
select {
	margin: 0;
	padding: 0;
}

input:focus,
select:focus {
	outline: 0;
}

table th {
	font-weight: normal;
}

input[type="button"]{
	padding:3px 4px;
}
p {
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
	color: #fff;
}

.asterisk {
	color: red;
	float: left;
}

[offClick] {
	color: #bbb !important;
}
.on_xk[listline],[selectList]>tbody>tr.on_xk{
	background:#6A8897 !important;
	color:#fff !important;
}
.clear{
	clear: both;
}
.s {
	display: inline-block;
	text-align: left;
}

.index_h1 {
	/*display: -webkit-box;*/
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size:54px;
	font-weight:700;
	color:red;
	font-family:雅黑;
	text-align:center;
	margin:0 auto;
	padding-top:50px;
}

.index_content {
	overflow:hidden;
}

.index_fill1 {
	/*-webkit-box-flex: 3;*/
	float: left;
	width: 90px;
	height: 100%;
}

.index_icon {
	/*	-webkit-box-flex: 3;*/
	float: left;
	width: 70px;
	height: 100%;
}

.index_h1_text {
	/*-webkit-box-flex: 3;*/
	float: left;
	width: 700px;
	height: 100%;
	
}

.index_fill2 {
	float: left;
	width: 80px;
	height: 100%;
}

.index_content_one {
	float: left;
	width: 120px;
	height: 100%;
}

.index_content_two {
	float: left;
	width: 90px;
	height: 20px;
	line-height:20px;
}

.index_content_first_fill1 {
	width: 100%;
	height: 40px;
	text-align:center;
}

.index_content_first_button {
	width: 100%;
	height: 30px;
	font-size: 11px;
}

.index_content_first_fill2 {
	width: 100%;
	height: 60px;
	text-align:center;
}

.index_content_first_fill3 {
	width: 100%;
	height: 30px;
	text-align:center;
}

.index_content_second {
	float: left;
	width: 630px;
	height: 60%;
}

.index_h1_qipeicheng {
	width: 100%;
	height: 130px;
}

.index_h1_qipeicheng_fill1 {
	height: 100%;
}

.index_content_third {
	float: left;
	width: 300px;
	height: 100%;
}

.index_content_third_up {
	width: 100%;
	height: 240px;
}

.index_content_third_up_two {
	float: left;
	width: 80px;
	height: 100%;
	line-height:284px;
}

.index_content_third_up_one {
	float: left;
	width: 120px;
	overflow:hidden;
}

.index_content_first_fill4 {
	width: 100%;
	height: 10px;
}

.index_content_third_down {
	width: 100%;
	overflow: hidden;
}

.index_content_third_down_left {
	float: left;
	width: 135px;
}

.index_content_third_down_middle {
	float: left;
	width: 10px;
	height:30px;
}

.index_content_third_down_right {
	float: left;
	width: 155px;
}

.popupwindow {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	display: table;
	vertical-align: middle;
	text-align: center;
}

.popupbody {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	text-align: center;
}

.bgcover {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: #000;
	opacity: 0;
	FILTER: alpha(opacity=0);
}

.popupbody>div {
	display: inline-block;
	max-height: 100%;
}
.popupbody table{text-align: initial;}

.datalist{
	display: inline-block;
	visibility: hidden;
	position:fixed;
	left:0;
	top:0;
	min-width:100px;
	background:#fff;
	border:1px solid #666666;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	z-index:12;
	overflow:hidden;
}


.size{
	font-size:16px;
}

input[type="checkbox"]{
	width:20px;
	height:20px;
	margin:3px 0;
}
