.md_model_bg {
    background-color: #6A8F97;
    width:1000px;
    height: 600px;
    border: 1px solid black;
    border-radius: 5px;
}

.md_model_text {
    font-family: "微软雅黑";
    font-size: 12px;
    margin-top: 5px;
    margin-left: -68px;
    margin-bottom: 7px;
    width: 260px;
    height: 12px;
}

.md_model_content {
    background-color: white;
    width: 98%;
    height: 95%;
    border: 1px solid black;
    margin: 0 auto;
}

.md_top {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 5%;
    width: 100%;
}

.md_top_button {
    margin-top: 8px;
    width: 100%;
    float: left;
}

.md_table {
    height: 90%;
    width: 100%;
    overflow: auto;
}

.md_table_receive {
    width: 170px;
}

.md_table_date {
    width: 120px;
}

.md_table_number {
    width: 60px;
}

.md_table_unpay {
    width: 80px;
}
